.my-img{
   height: 400px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 400px;
}
body{
    background: linear-gradient(#e66465, #9198e5);
}
ul {
    width: 40%;
    margin: auto;
}