{% extends "base.html" %}

{% block title %}
    Blog
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
        <input class="form-control border-dark" type="text" name="q" placeholder="Search" {% if request.args.get('q') != None%}
        value="{{request.args.get('q')}}" {%endif%}>
        <button class="btn btn-outline-dark m-2" type="submit">Search</button>
        </div>
        </form>
            {% for car in cars %}
                <h1>{{car.brand}}</h1>
                <p>License plate: <strong>{{car.license_plate}}</strong></p>
                <p>Condition: <strong>{{car.condition.name}}</strong></p>
                <p>On go: <strong>{{car.on_go}}</strong></p>
                <p>Product date: <strong>{{car.prod_date}}</strong></p>
                <h5>Price: <strong>{{car.price}}</strong></h5>
                 <p><a class="btn btn-primary" href="{{url_for('edit_car', id=car.id)}}">Edit</a>
            <inline><a class="btn btn-danger" href="{{url_for('delete_car', id=car.id)}}">Delete</a></inline></p>
            <p></p>
                <hr>
            {% endfor %}
        </div>
    </div>

{% endblock %}