<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Portfolio</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm grad">
    <h5 class="my-0 mr-md-auto font-weight-normal">Have a nice day :)</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{{url_for('post_bp.posts')}}">Main</a>

        {% if current_user.is_active %}
         <a class="p-2 text-dark" href="{{url_for('user_bp.account')}}">Account</a>
         <a class="p-2 text-dark" href="{{url_for('post_bp.create_post')}}">New post</a>
        {% endif %}

        {% if current_user.is_active %}
        <a class="p-2 text-dark" href="{{url_for('user_bp.logout')}}">Logout</a>
        {% else %}
        <a class="p-2 text-dark" href="{{url_for('user_bp.login')}}">Login</a>
        <a class="p-2 text-dark" href="{{url_for('user_bp.register')}}">Registration</a>
        {% endif %}
    </nav>
</div>
{% block content %}{% endblock %}
</body>
</html>