<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Portfolio</title>
    {% endif %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm grad">
        <h5 class="my-0 mr-md-auto font-weight-normal">Have a nice day :)</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{{url_for('main')}}">Home</a>
        <a class="p-2 text-dark" href="{{url_for('first_work')}}">First work</a>
        <a class="p-2 text-dark" href="{{url_for('second_work')}}">Second work</a>
        <a class="p-2 text-dark" href="{{url_for('account')}}">Account</a>
        <a class="p-2 text-dark" href="{{url_for('posts')}}">Posts</a>
        <a class="p-2 text-dark" href="{{url_for('login')}}">Login</a>
        <a class="p-2 text-dark" href="{{url_for('register')}}">Register</a>
        <a class="p-2 text-dark" href="{{url_for('logout')}}">Logout</a>
      </nav>
</div>
    {% block content %}{% endblock %}
</body>
</html>